name: CI - MLFlow

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  train_model:
    runs-on: ubuntu-latest
    env:
      MLFLOW_TRACKING_URI: "file://${{ github.workspace }}/MLProject/mlruns"
      MLFLOW_NO_PERMISSION_CHECK: "true"

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python 3.12.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.12.9

    - name: Install dependencies
      run: pip install -r MLProject/requirements.txt

    - name: Run MLflow project
      run: |
        cd MLProject
        mlflow run . --env-manager=local --experiment-name Healthcare-Diabetes

    - name: Get latest MLflow run_id
      id: get_run_id
      run: |
        # Masuk ke folder project
        cd MLProject
        
        # Cek apakah file run_id.txt ada
        if [ ! -f run_id.txt ]; then
          echo "❌ Error: File run_id.txt tidak ditemukan!"
          exit 1
        fi

        # Baca ID dari file
        RUN_ID=$(cat run_id.txt)
        echo "✅ Sukses membaca Run ID: $RUN_ID"
        
        # Simpan ke Environment Variable GitHub
        echo "MLFLOW_RUN_ID=$RUN_ID" >> $GITHUB_ENV

    - name: Install additional dependencies
      run: pip install requests

    - name: Upload MLflow artifacts
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: mlartifacts
        path: MLProject/mlruns

    - name: Build Docker model
      run: |
        cd MLProject
        # Menggunakan variable yang sudah ditemukan dengan benar
        mlflow models build-docker -m "runs:/${{ env.MLFLOW_RUN_ID }}/model" -n diabetes-app

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Tag and Push Docker Image
      run: |
        docker tag diabetes-app ${{ secrets.DOCKER_USERNAME }}/diabetes-app:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/diabetes-app:latest
